{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "extends": [
    "airbnb-typescript/base",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "jsx-a11y", "import", "prettier", "@typescript-eslint"],
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "no-return-assign": ["off"],
    "import/prefer-default-export": "off",
    "import/extensions": [
      "error",
      "never",
      {
        "ts": "never",
        "tsx": "never",
        "js": "never",
        "jsx": "never"
      }
    ],
    "import/no-cycle": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "endOfLine": "auto"
      }
    ],
    "no-param-reassign": "off",
    "@typescript-eslint/explicit-module-boundary-types": ["error"],
    "@typescript-eslint/no-unused-vars": ["error"],
    "@typescript-eslint/no-explicit-any": ["error", { "ignoreRestArgs": true }]
  },
  "ignorePatterns": ["node_modules/"],
  "settings": {
    "import/resolver": {
      "alias": [
        ["~components/*", "/components/*"],
        ["~constants/*", "/constants/*"],
        ["~context/*", "/context/*"],
        ["~hooks/*", "/hooks/*"],
        ["~utils/*", "/utils/*"]
      ]
    }
  }
}