// Colors
$blue-primary: #084f85;
$blue-secondary: #003b66;
$blue-tertiary: #00365d;
$blue-button: #0c538b;
$turquoise: #15aa8c;
$white: #fff;

// Fonts
$font-42: 42px;
$font-32: 32px;
$font-24: 24px;
$font-20: 20px;
$font-18: 18px;
$font-16: 16px;
$font-14: 14px;
