@import "./styles/variables";

.app {
  align-items: center;
  background-color: $blue-primary;
  color: $white;
  display: grid;
  grid-auto-columns: 100vw;
  grid-auto-rows: 100vh;
  justify-items: center;

  .section-container {
    background-color: $blue-secondary;
    display: grid;
    height: 70%;
    padding: 40px;
    width: 70%;

    .section-title {
      font-size: 36px;
      font-weight: bold;
      margin: 0;
      text-align: center;
    }
  }
}
